.sidebar-toggle {
  bottom: auto;
  top: 0;
}
.sidebar-nav {
  margin-left: 1em;
}

.markdown-section a {
  text-decoration: none;
}
.markdown-section a:hover {
  text-decoration: underline;
}


.markdown-section h1 {
  font-weight: bold;
  color: black;
}

.markdown-section em {
  color: #2c3e50;
}

.markdown-section blockquote {
  border: 2px solid #669955;
  border-radius: 1em;
  padding: 0;
  margin: 0;
  color: #333333;
}
.markdown-section blockquote p {
  margin: 0.75em 1em;
  font-weight: 300;
}
.markdown-section blockquote p + ul {
  margin-top: 0;
}
